<!DOCTYPE html>
<html>
<head>
  <title>Abby Alert</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
  <p class="intro">
    Welcome to the Abby Alert system. To send an Abby Alert, press the buttons
    below. Thank you for using Abby Alert.
  </p>
  <p class="sent">
    Your alert has been sent. T-$ is on his way.
  </p>
  <p class="reset reset-msg">
    The lights have been reset.
  </p>
  <a href="#" class="action-button shadow animate green" data-color="green">
    Green - Page
  </a>
  <a href="#" class="action-button shadow animate purple" data-color="purple">
    Purple - Urgent
  </a>
  <a href="#" class="action-button shadow animate red" data-color="red">
    Red - Emergency
  </a>
  <a href="#" class="action-button shadow animate reset" data-color="reset">
    reset
  </a>
</body>
</html>
